@font-face {
    font-family: vazir-md;
    src: url(/wwwroot/fonts/vazir/fonts/webfonts/Vazirmatn-Medium.woff2) format('woff2') ;
    font-weight: normal;
    font-style: normal;
}
*{
    font-family: vazir-md;
    
}

header > nav{
    width: 100%;
    background-color: #595782;
    font-size:  0.7rem;
}
.nav-topheader
{
    max-width: 1280px;
    margin: auto;
}
.lang-list {
    list-style-type: none;
    color: white;
    width: 200px;
    display: inline-block;
}
.lang-list li{
    display: inline-block;
    padding: 8px;
}
.top-menu-list{
    list-style-type: none;
    color: white;
    width: 470px;
    display: inline-block;
}

.top-menu-list li{
    display: inline-block;
    padding: 8px;
}
.input-search{
    display: inline-block;
    background-color: #444367;
    margin: 3px;
    padding: 4px;
}
.input-search input,i{
    background-color: #444367;
    
    
}
.input-search input{
    border: none;
    outline: none;
    color: #eee;
}
.input-search i{
    color: #eee;
    cursor: pointer;
}
#txt-search::placeholder{
    color: #eee;
}
.lbl-date{
    float: left;
    padding: 5px;
    color: #efefef;
    font-size: 10px;
    padding-top: 10px;
}
.div-logo{
    max-width: 1280px;
    margin: auto;
    padding: 10px;
}
.div-parent-logo{
    background-color:#38386C;
}
.nav-main-menu
{
  background-color: #363559;
}
.nav-main-menu div
{
    max-width: 1280px;
    margin: auto;
}
.nav-menu li{
 display: inline-block;
 padding: 10px;
 color: white;
 font-size: 14px;
}
.main-container{
    max-width: 1280px;
    margin: auto;
    display: flex;
    gap: 5px;
    padding-top: 15px;
   
}
.sec-one{
    width: 45%;
    padding: 10px;
    position: relative;
}
.sec-two
{
    width: 30%;
    padding: 10px;
}
.sec-three
{
    width: 30%;
    padding: 10px;
}
.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
   
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .slide-content {
    position: absolute;
    top: 70%;
    z-index: 2; 
    color: white;
    font-size: 16px !important;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    padding: 20px;
    border-radius: 5px;
    color: #fff; 
    width: 100%; 
    bottom: 0;
    
   
}
.div-title{
    width: 100%;
    border-bottom: #dddddd solid 1px;
    border-right: 3px solid blue;
}
hr.dotted-line {
    border: none;
    height: 1px; 
    background-color: #ccc; 
    border-bottom: 1px dotted #000; 
    margin: 20px 0; 
}
.lbl-title {
    background-color: #dddddd;
    padding: 3px;
    font-size: 13px;
    display: inline-block;
    width: 80px;
    text-align: center;
    margin-right: 5px;
}
.swiperParent{
    position: relative;
}

.swiper-slide {
   
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
  
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--swiper-theme-color);
  }

  .autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke: var(--swiper-theme-color);
    fill: none;
    stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
  }
  .news-container {
    position: relative;
    width: 100%;
    height: 100%;
    
}

.news-image {
    width: 100%;
    height: auto;
    object-fit: cover; /* به عنوان مثال، اطمینان حاصل کنید که تصویر به درستی در div جا شود */
}

.news-title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background: rgba(0, 0, 0, 0.7); 
    color: #fff; padding-left: 30px;
    text-align: center;
}
.div-multi-media{
    display: flex;
}
.col1,.col2{
    width: 50%;
}
.multi-title{
    font-size: 12px;
    padding: 3px;
    font-weight: bold;
}
.multi-img{
    float: right;
    width: 50%;
}
.col2  div{
    height: 50%;
}
.col1  div{
    height: 50%;
}
.div-chosen{
    display: flex;
    width: 100%;
    gap: 10px;
}
.chosen-list{
    list-style: none;
    padding: 5px;
   
    width: 100%;
}
.chosen-list li {
    border-bottom: 1px dotted black;
    width: 100%;
    padding-top: 10px;
    display: inline-block;
    font-size: 12px;
}
.lbl-title-border-red
{
    padding: 3px;
    font-size: 13px;
    display: inline-block;
    width: 80px;
    text-align: center;
    border-bottom: 2px solid red;
}
.div-title-none{
    width: 100%;
    border-bottom: #dddddd solid 1px;
}
.news-cat{
  
   list-style: none; 
    padding: 0; 
}
.news-cat li{
 
   margin-top: 8px;
    font-size: 13px;
}
footer{
    width: 100%;
    background-color:#47456f ;
}
.foot-div{
    max-width: 1280px;
    margin: auto;
    display: flex;
    height: 90px;
    color: white;
    font-size: 13px;
    
}
.viewers{
    padding-top: 10px;
}
.viewers li{
    font-size: 14px;
    margin-bottom: 8px;
}
.div-sardabir{
    display: flex;
    gap: 15px;
}
.div-sardabir img{
    width: 100%;
    height: 120px;
}